.search-suggestions {
               width: 100%;
               position: absolute;
               z-index: 1000;
               background: linear-gradient(90deg, rgba(14, 203, 245, 0.15), rgba(62, 233, 249, 0.2));
               background-color: rgb(242, 252, 255);
               max-height: 500px;
               overflow-y: scroll;
        
}

.game-item {
               display: flex;
               align-items: center;
               gap: 20px;
               border-bottom: 1px solid #46b6fc;
               /* margin-bottom: 10px; */
               cursor: pointer;
               padding: 20px;
}

.game-item.admin {
padding: 60px 20px;
}

.game-item:hover{
               background-color: rgba(161, 225, 248, 0.4);
}

.search-suggestions .game-item  img {
               /* width: 100%; */
               width: 90px;
               object-fit: contain;
               border-radius: 4px;
               height: auto;
               top: 12px;
               right: 15px;
}

.info {
               display: flex;
               gap: 5px;
               flex-direction: column;
}

.title {
               width: 100%;
               font-weight: bold;
               font-size: 15px;
               margin: 0;
               color: var(--main-color);
}

.title.admin {
               width: 90%;
}

.price {
               font-size: 13px;
               color: #333;
}


.price .sale {
               color: black;
               /* font-weight: bold; */
}