.list-game-page{
               display: flex;
               min-height: 100vh;
               margin-top: -20px;
}

.list-game-content {
               padding: 20px 30px;
               padding-bottom: 10px;
               gap: 20px;
               display: flex;
               flex-direction: column;
               width: 100%;
               box-shadow: inset 0px 0px 5px rgb(1, 76, 89, 0.2);
               background: linear-gradient(45deg, rgba(197, 242, 248, 0.1), rgba(181, 237, 243, 0.1));
               
}

.list-game-content .container{
               padding: 10px;
               margin: 0;
               border-radius: none;
}

.list-game-content .container a{
               height: 42px;
               width: 45px;
               font-size: 16px;
               cursor: pointer;
}

.list-game-items {
              
               min-height: 75vh;
               overflow-y: scroll;
}

.list-game-items hr{
               margin: 14px 0;
}

.list-game-items::-webkit-scrollbar{
               display: none;
}

.list-game-items-title {
               display: grid;
               grid-template-columns: 0.5fr 1fr 0.4fr 0.5fr 0.5fr 0.3fr;
               align-items: center;
               color:var(--main-color);
               font-size: 18px;
}

.list-game-items-title .game-name {
               max-height: 50px;
               display: -webkit-box;
               -webkit-line-clamp: 2;
               -webkit-box-orient: vertical;
               overflow: hidden;
               margin-right: 40px;
        

}

.list-game-items-title button {
            background: none;
             width: 90px;
}

.list-game-items-title button:hover{
  transform: scale3d(1.1, 1.1, 1.1);
}

.list-game-items-title button img {
               width: 25px;
               cursor: pointer;
             
}

.list-game-items-title .game-name input{
               width: 100%;
               background: #d8f2f9;
               padding: 5px 10px;
               font-size: 18px;
               border-radius: 5px;
               box-shadow: inset 0px 0px 5px rgb(1, 76, 89, 0.1);
}

.list-game-items-title  .cancel-confirm{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 20px;
}

.list-game-items-title  .cancel-confirm button{
  margin-right: 0;
  width: 40px;
}

.list-game-items-item {
               margin: 10px 0;
               color: #001d20;
}

.list-game-items-item img {
               max-width: 100px;
               object-fit: contain;
}


.list-game-items-item .cross:hover {
               color: white;
}