.detail-user-page {
               display: grid;
               /* tạo 2 cột có width là auto */
               grid-template-columns: auto auto;
               /* tạo 2 dòng có độ cao dòng thứ 2 gấp 3 dòng 1 */
               grid-template-rows: 1fr 3fr;
               column-gap: 50px;
               font-size: 18px;
               color: var(--main-color);
               padding-bottom: 40px;
}


.item-info-user {
               margin-bottom: 20px;
}

.item-info-user label {
               font-size: 17px;
               color: rgb(46, 194, 227);
}

.item-info-user p {
               font-weight: 500;
               margin-top: 10px;
               padding: 10px 15px;
               box-shadow: inset 0px 0px 5px rgb(1, 76, 89, 0.2);
}


.chart-user-buy {
               /* background-color: aqua; */

               /* 2 dòng này để nó chiếm toàn bộ 1 dòng */
               grid-column-start: 1;
               grid-column-end: -1;
}