#home {
    position: relative;
}

/*header*/

header {
    width: 100%;
    animation: fadeIn 2.2s;
    box-shadow: 1px 1px 0 rgb(1, 76, 89, 0.2);
    margin-bottom: 20px;
}

a {
    transition: all 0.5s ease-in-out;
    color: var(--color-text-a);
}

a:hover {
    transform: scale(1.04);
    color: var(--main-color);
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: rgba(196, 236, 247, 0.2);
    font-size: 18px;
    align-items: center;
    transition: All 0.3s ease-in-out;
    padding-right: 30px;
}

.top-header a {
    text-decoration: none;
    margin-right: 15px;
    transition: all 0.4s ease-in-out;
    border-radius: 5px;

}

.top-header .track-order {
    font-weight: 500;
    padding: 14px;
    border: 1px solid var(--main-color);
    border-radius: 5px;
    color: var(--main-color);
    transform: scale(1);
}

.top-header a.track-order:hover {
    background-color: var(--main-color);
    color: white;
    border-radius: 12px;
}

.top-icons .icons img {
    width: 25px;
    height: 25px;
    transition: all 0.4s ease-in-out;
    ;
}

.top-icons .icons img:hover {
    transform: scale(1.08);
}

.search {
    position: relative;
    height: 45px;
    width: 40%;
    border-radius: 5px;
}

.search form {
    width: 100%;
    height: 100%;
}

.search input {
    font-size: var(--fontSize-main);
    padding: 5px 10px;
    padding-right: 10%;
    width: 100%;
    height: 100%;
    color: #025f74;
    background: linear-gradient(90deg, rgba(14, 203, 245, 0.2), rgba(62, 233, 249, 0.2))
}

.search input::placeholder {
    color: var(--main-color);
    font-weight: 500;
}

.search img {
    top: -18px;
    right: 18px;
    position: absolute;
    width: 25px;
    height: 25px;
    transition: all 0.4s ease-in-out;

}

.search img:hover {
    transform: scale(1.08);
}

.search button {
    cursor: pointer;
}

.main-header {
    position: relative;
    padding: 1.5% 4%;
    padding-left: 6%;
    /*border: 1px black solid;*/
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-size: var(--fontSize-main);
    font-weight: bold;
    background: linear-gradient(90deg, rgba(14, 203, 245, 0.2), rgba(62, 233, 249, 0.2));
}

.main-header .logo {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}

@keyframes enterAndExit {
    0% {
        left: -120%;
    }

    50% {
        left: -35%;
    }

    52%,
    96% {
        left: -52%;
        /* Thoát ra khỏi bên phải */
    }

    100% {
        left: -120%;
    }
}

.main-header .logo img {
    width: 75px;
    height: 75px;
    position: absolute;
    top: -25px;
    left: -52%;
    /* Bắt đầu từ ngoài bên trái */
    /* animation: enterAndExit 5s ease-in-out infinite 1s; */
}

.main-header .logo p {
    font-weight: 400;

}

.logo a {
    color: var(--main-color);
}

.main-header .logo span {
    font-size: 26px;
}

.main-header .logo .bdlv-gaming {
    display: flex;

}


.main-header .nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
}

.main-header .icons {
    display: flex;
    gap: 30px;
}

.icons a img {
    width: 25px;
    height: 25px;
}

.main-header-category {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-header-category:hover {
    transform: scale(1.04);
    color: var(--main-color);
}

.main-header-category img {
    width: 20px;
    margin-left: 5px;
}

.cart img {
    width: 32px;
    height: 32px;
    margin-top: 2px;
    cursor: pointer;
}

.cart:hover {
    transform: scale(1.1);
}


.login {

    color: var(--main-color);
    padding: 8px 10px;
    border: 1px solid var(--main-color);
    border-radius: 5px;

    cursor: pointer;
}


.login:hover {
    background-color: var(--main-color);
    color: white;
    border-radius: 12px;
}

.category-detail {
    width: 100%;
    left: 0;
    padding: 30px;
    position: absolute;
    top: 100%;
    z-index: 10;
    background: linear-gradient(45deg, rgba(200, 241, 248, 0.95), rgba(214, 249, 241, 0.95));
    font-weight: 500;
    font-size: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 30px;
    border: 1px solid var(--main-color);
    box-shadow: 0px 4px 6px rgba(37, 115, 129, 0.4);
}

.category-detail a {
    text-align: center;
}